.client-panel-parent {
  padding: 0em;
}

.client-panel {
  /* box-shadow: 1px 1px 9px rgb(231, 231, 231); */
  font-size: large;
  border-bottom: 1px solid rgb(231, 231, 231);
  padding: 1em;
  margin: 1em 0em;
}

.client-details-title {
  font-size: large;
  font-weight: bold;
  margin: 1em;
}

.client-details-desc {
  font-size: small;
}