.client-panel-parent {
  padding: 0em;
}

.client-panel {
  /* box-shadow: 1px 1px 9px rgb(231, 231, 231); */
  font-size: large;
  border-bottom: 1px solid rgb(231, 231, 231);
  padding: 1em;
  margin: 1em 0em;
}

.client-details-desc {
  font-size: larger;
  font-weight: 600;
  margin: 1em;
}

.client-details-back {
  margin: 1em;
  width: 10%;
}

.client-details-back:hover {
  cursor: pointer;
}