.client-item-parent {
  padding: 0em;
}

.client-item {
  margin: 1em;
}

.client-img {
  box-shadow: 4px 4px 7px rgb(231, 231, 231);
}

.client-img:hover {
  cursor: pointer;
}

.client-title {
  margin: 1em;
}