@-webkit-keyframes client-details-backdrop-fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1.0;
  }
}

@-webkit-keyframes client-details-backdrop-fadeOut {
  from {
    opacity: 1.0;
  }

  to {
    opacity: 0.0;
  }
}

@keyframes client-details-backdrop-fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1.0;
  }
}

@keyframes client-details-backdrop-fadeOut {
  from {
    opacity: 1.0;
  }

  to {
    opacity: 0.0;
  }
}

.client-details-backdrop-fadeIn {
  -webkit-animation-name: client-details-backdrop-fadeIn;
  animation-name: client-details-backdrop-fadeIn;
}

.client-details-backdrop-fadeOut {
  -webkit-animation-name: client-details-backdrop-fadeOut;
  animation-name: client-details-backdrop-fadeOut;
}

.client-details-backdrop {
  background-color: white;
  z-index: 100;
}

#client-details-modal {
  z-index: 101;
}