.header {
  margin-top: 2em;
}

.title {
  margin-bottom: 1em;
}

.career {
  font-size: 1.05em;
}

.carrer-tight {
  letter-spacing: 0em;
}

.career-wide {
  letter-spacing: 0.9em;
}

.icon {
  font-size: 1.6em;
}