@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.nav-bar-container {
  min-height: 100vh;
  /* border-right: 1px solid rgb(255, 238, 0); */
  box-shadow: 0px 0px 7px rgb(231, 231, 231);
}

.body-container {
  background-color: #f8f8f8 !important;
}