.nav-item {
  margin-left: 2em;
  margin-right: 2em;
  list-style-type: none;
  cursor: pointer;
}

.nav-item-active {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: under;
}