@-webkit-keyframes backdrop-fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.9;
  }
}

@keyframes backdrop-fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.9;
  }
}

.backdrop-fadeIn {
  z-index: 200;
  -webkit-animation-name: backdrop-fadeIn;
  animation-name: backdrop-fadeIn;
}

#itemModal {
  z-index: 201;
}

.itemModalContent {
  max-height: 90vh;
  height: 90vh;
}