@-webkit-keyframes item-backdrop-fade-in {
  from {
    opacity: 0.0;
  }

  to {
    opacity: 0.9;
  }
}

@-webkit-keyframes item-backdrop-fade-out {
  from {
    opacity: 0.9;
  }

  to {
    opacity: 0.0;
  }
}

@keyframes item-backdrop-fade-in {
  from {
    opacity: 0.0;
  }

  to {
    opacity: 0.9;
  }
}

@keyframes item-backdrop-fade-out {
  from {
    opacity: 0.9;
  }

  to {
    opacity: 0.0;
  }
}

.item-backdrop-fade-in {
  -webkit-animation-name: item-backdrop-fade-in;
  animation-name: item-backdrop-fade-in;
}

.item-backdrop-fade-out {
  -webkit-animation-name: item-backdrop-fade-out;
  animation-name: item-backdrop-fade-out;
}

.item-backdrop {
  background-color: black;
  z-index: 200;
}

#item-modal {
  z-index: 201;
}

.item-modal-content {
  max-height: 90vh;
  height: 90vh;
}